* {
	margin: 0;
	padding: 0;
}
ul,li {
	list-style: none;
}
a {
	text-decoration: none;
}
address, cite, dfn, em, var, i {
    font-style: normal;
    font-weight: 400;
}
.header-cool {
	height: 44px;
}
.header {
	background: #FFFFFF;
	height: 44px;
	position: fixed;
    left: 0;
    right: 0;
    top: 0;
    text-align: center;
    line-height: 44px;
    z-index: 960;
    color: #222;
}
.header span {
	width: 44px;
    height: 44px;
    font-size: 22px;
    position: absolute;
    top: 0;
    left: 0;
}
.header h1 {
	/*display: inline;*/
	font-size: 17px;
    font-weight: 400;
    font-family: PingFangSC-Regular;
    line-height: 44px;
    height: 44px;
    position: absolute;
    left: 88px;
    right: 88px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.flexbox {
	margin: 8px 15px;
    height: 32px;
    background: #fff;
    border-radius: 32px;
    position: relative;
    font-family: PingFangSC-Regular;
    z-index: 1;
    box-shadow: 0 4px 16px 0 rgba(0,0,0,.08);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flexbox-vertical{
	width: 90px;
    height: 32px;
    background: #fff;
    border-radius: 32px 0 0 32px;
    color: #19a0f0;
    padding: 0 5px;
    box-sizing: border-box;
    line-height: 32px;
}

.flexbox-searchr{
    padding: 0 15px;
    height: 32px;
    background: #fff;
    border-radius: 0 32px 32px 0;
    color: #999;
    position: relative;
    line-height: 32px;
}
.slider {
	background: url(https://dimg04.c-ctrip.com/images/zg0b16000000z0abk3FE2.jpg) no-repeat;
	height: 152.5px;
	background-size: 100% 100%;
    margin-top: -49px;
    overflow: hidden;
    transform: scale(1);
    transform-origin: 0px 0px;
    width: 488px;
    position: relative;
}
